
.div-carrousel{
    padding: 3em 1em;
}

.div-secction-title{
    display: flex;
    background-color: #ffffff5c;
    margin-bottom: 2%;
    border-bottom: solid #3d42eb thin;
}

.div-secction-title > h3{
    display: inline-flex;
    padding: 0px 1em;
    color: #3d42eb;
    font-weight: inherit;
}

.hr-seccion{
    width: 50%;
    right: 0px;
    position: absolute;
}

.carousel-item-padding-40-px{
    padding: 0px 30px;
    height: 300px !important; 
    width: 250px !important;
}

.carousel-item-padding-40-px > div > .card{
    height: 100%;
    width: 90%;
    position: absolute;
}

.card-img-top{
    max-height: 52% !important;
}

.preview{
    cursor: pointer;
}
/*
.card-img, .card-img-bottom, .card-img-top {
    height: 70%;
}

.card-footer{
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.text-muted{
    cursor: pointer;
}
*/
