.spinner-background{
    background-color: rgba(0, 0, 0, 0.5);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 500;
}

/*.css-nu7qnd{    /* ClipLoader */
/*.css-10p2e9r{       /* PropagateLoader */
.css-1xdhyk6{
    z-index: 1000;
    position: absolute;
    left: 45%;
    top: 45%;
}