.filter-panel{
    border-right: #d8d4d4 solid thin;
}

.rango-precio-row,
.rango-precio-min,
.rango-precio-max{
    padding: 0 !important;
    margin: 0 !important;
}

.rango-precio-min,
.rango-precio-max{
    font-size: small;
}

.rango-precio-max{
    text-align: right;
}

.rc-slider{
    padding-left: inherit !important;
}

.row-paginacion{
    padding: 10px 0px;
}

.row-paginacion > .paginacion{
    display: flex;
    justify-content: center;
}

.btn-filtros{
    display: none !important;
    width: 97% !important;
}

.backgroud-panel-filtro{
    display: block;
}

.filter-panel{
    display: block;
}

@media screen and (max-width: 600px) {
    .btn-filtros{
        display: block !important;
    }

    .filter-panel{
        display: none;
        position: fixed;
        background: white;
        top: 0;
        width: 90% !important;
        height: 100%;
        z-index: 10;
    }

    .btn-cerrar-filtro{
        float: right;
    }

    .backgroud-panel-filtro{
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
        right: 0px;
        top: 0px;
        height: 100%;
        width: 10%;
        position: fixed;
        z-index: 5;
    }

    .col-left{
        padding-bottom: 10px;
    }
}
