
.header-menu{
    color: white;
    left: 5%;
    position: absolute;    
}

.header-menu:hover {
    color:rgb(199, 201, 202);
    cursor: pointer;
}

.header-container{
    background-color: #efefef;
}

.header-market{
    height: 43px;
}

.header-form-buscar{
    padding: 0px !important;
}

.input-header-search{
    width: calc(100% - 31px) !important;
    display: inline-flex !important;
    margin: 0px !important;
}

.icon-header-search{
    display: inline-flex;
    margin: 5px;
    color: black !important
}