
.header-menu{
    color: white;
    position: inherit;
    margin-right: 10px;   
}

.header-menu:hover {
    color:rgb(199, 201, 202);
    cursor: pointer;
}

.navbar-brand{
    color: white !important;
}

.header-container{
    background-color: #3a2294;
}

.header-market{
    height: 43px;
    background-color: #4970b3  !important
}

.right-menu .navbar-nav a{
    color: white !important;
}
/*
.dark{
    background-color: black !important;
}
*/
.header-form-buscar{
    padding: 0px !important;
}

.input-header-search{
    width: calc(100% - 31px) !important;
    display: inline-flex !important;
    margin: 0px !important;
}

.icon-header-search{
    display: inline-flex;
    margin: 5px;
    color: black !important
}

.header-market .row{
    width: 100%;
}

.right-menu .navbar-nav{
    justify-content: end;
}

.find-column{
    justify-content: right;
}

@media screen and (max-width: 600px) {
    .header-market{
        height: 85px;
    }

    .header-market a{
        padding: 0 10px;
    }

    .header-market > .container{
        padding: 0;
    }

    #EZDrawer__container{
        width: 75% !important;
    }

    .nav-link {
        padding-right: 0px !important;
    }
    

    .navbar-light{
        height: 90px;
    }

    .navbar-nav, 
    .navbar > .container{
        justify-content: center !important;
    }
}