header {
  box-shadow: 0px 5px #6f8bef6b;
}

.user-session-info{
  display: flex;
  right: 0px;
  position: absolute;
}

.navbar {
  background-color: #181c44 !important;
}

.perfil-menu{
  background-color: #181c44 !important;
  border-color: #181c44 !important;
}

.avatar{
  cursor: pointer;
  height: 39px;
  position: relative;
}

#dropdown-basic {
  box-shadow: none !important;
}

.user-name {
  color: white;
}

.form-inline{
  display: contents !important;
}
