.carousel-item{
    width: auto !important;
}

.carousel-caption{
    right: 0px !important;
    bottom: -0rem !important;
    left: 0px !important;
    background: #0a0a0a69;
}

.carousel-control-next-icon,
.carousel-control-prev-icon{
    background-color: black;
    border-radius: 15%;
}