.hidden-control{
    display: none;
}

.image-content{
    height: 90%;
}

.image{
    cursor: pointer;
    height: 90%;
    position: absolute;
    left: 50%;
}

.col-image{
    width: 40%;
    height: 13em;
}

.col-md-9{
    padding-left: 5% !important;
}