#EZDrawer > nav{
    padding-left: 1%;
}

#EZDrawer__container{
    width: 25% !important;
    box-shadow: 3px 5px #0000004f !important;
    z-index: 1100 !important;
    background-color: #2e3783 !important;
}

.item-categoria-menu{
    margin-left: 3%;
}

.title-left-menu{
    padding: 3px;
    border-bottom-width: thin;
    border-bottom-color: #cacecb;
    margin: 5px;
    font-weight: 500;
    font-style: italic;
    color: white;
}

.close-left-menu{
    position: absolute;
    right: 0px;
    margin: 0px 10px;
    cursor: pointer;
    color: white;
}

.ul_menu_categoria{
    color: #dce0e9 !important;
    cursor: pointer;
    display: block !important;
    text-decoration: none;
}

.li_menu_categoria{
    color: #b6bedf !important;
    cursor: pointer;
    display: block !important;
    text-decoration: none;
}

.ul_menu_categoria{
    font-weight: inherit;
    font-style: italic;
}

.li_menu_categoria{
    font-weight: lighter;
}

a.li_menu_categoria:hover{
    text-decoration: underline ;
}


@media (width: 300px) {

    #EZDrawer__container{
        width: 90% !important;
    }
}