.content-modal,
.back-modal {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 100000;
}

.content-modal {
  z-index: 10;
}

.back-modal {
  background-color: #00000038;
}

.modal-backdrop, 
.modal{
  z-index: 10000 !important;
}
